!!!XML
!!!5
%html
  %head
    %title
      = yield :title
    - @inline_javascript = false
    - (yield :import_javascripts).split(/\s+/).uniq.each do |js|
      - if @inline_javascript
        :javascript
          = "#{File.new("public/javascripts/#{js}.js").read}"
      - else
        %script{:src=>"/javascripts/#{js}.js", :type=>'text/javascript'}
    - ((yield :import_stylesheets) || "").split(/\s+/).uniq.each do |css|
      - if @inline_stylesheet
        %style
          = "#{File.new("stylesheets/#{css}.css").read}"
      - else
        %link{:href=>"/stylesheets/#{css}.css", |
              :type=>'text/css',                |
              :rel=>'stylesheet'}               |
    = yield :head
    %style{:type=>'text/css'}
      = yield :style
  %body
    #template{:style=>'display:none'}
      = yield :template
    = yield
  %script{:type=>'text/javascript'}
    = yield :script
-# vim: set sw=2 ts=2 expandtab :
